<header>

    <nav class="menu" id="bigMenu">
        <a class="logo" href="home">
            VACATIONEY
        </a>

        <div class="dropdown">
            <div class="dropbtn">Manage</div>
            <div class="dropdown-content">
                <a class="dropbtn" href="hotel">Hotels</a>
                <a class="dropbtn" href="city">Cities</a>
                <a class="dropbtn" href="country">Countries</a>
            </div>
        </div>

        <div class="dropdown">
            <div class="dropbtn">Create</div>
            <div class="dropdown-content">
                <a class="dropbtn" href="offer/create">Offer</a>
                <a class="dropbtn" href="hotel/create">Hotel</a>
                <a class="dropbtn" href="city/create">City</a>
                <a class="dropbtn" href="country/create">Country</a>
            </div>
        </div>

        <div class="dropdown">
            <a class="dropbtn" href="offer">Offers</a>
        </div>

    </nav>

</header>
