<header>

    <nav class="menu" id="bigMenu">
        <a class="logo" href="home">
            VACATIONEY
        </a>

        <div class="dropdown">
            <div class="dropbtn">Manage</div>
            <div class="dropdown-content">
                <a class="dropbtn" href="hotel">Hotels</a>
                <a class="dropbtn" href="city">Cities</a>
                <a class="dropbtn" href="country">Countries</a>
            </div>
        </div>

        <div class="dropdown">
            <a class="dropbtn" href="offer">Offers</a>
            <div class="dropdown-content">
                <a class="dropbtn" href="offer">Search</a>
                <a class="dropbtn" href="offer/create">Create</a>
            </div>
        </div>

    </nav>

</header>
