<header>

    <nav class="menu" id="bigMenu">
        <a class="logo" href="home">
            VACATIONEY
        </a>

        <div class="dropdown">
            <a class="dropbtn" href="offer">Offers</a>
        </div>
    </nav>

</header>
