@model TravelAgency.SharedKernel.Dto.City.CreateCityDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create City</h1>

<hr />

<div class="createForm" id="createCity">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CountryId" class="control-label">Country</label>
            <select asp-for="CountryId" class="form-control" asp-items="ViewBag.Countries"></select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>

        <div>
            <button id="submitCreate" title="forCity" type="submit">Save</button>
        </div>
    </form>
</div>
